
<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>3 Col Portfolio - Start Bootstrap Template</title>

    <!-- Bootstrap Core CSS -->
    <link href="static/libs/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    
    <link rel="stylesheet" href="static/css/stylesheet2.css">

    <link href='https://fonts.googleapis.com/css?family=Inconsolata:400,700|Amatic+SC:400,700|Special+Elite|Fredericka+the+Great|Creepster|Walter+Turncoat' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Monofett' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Crafty+Girls|La+Belle+Aurore|Patrick+Hand+SC|Butterfly+Kids' rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->


</head>

<body>

            

    <!-- Page Content -->
    <div class="container">

        <!-- Page Header -->
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <h2 class="page-header">Laughing at&nbsp;&nbsp;&nbsp;<span class="arch">&nbsp;&nbsp;Archaeologists</span>
                </h2>
            </div>
        </div> <!-- /.row -->

        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-3 col lg-3 col sm-12 portfolio-item">
                <a href="https://www.facebook.com/ryesilverman/">
                    <img class="img-responsive img-circle" src="/static/css/img/riley.jpg" alt="">
                </a>
                <h3>
                    Riley Silverman
                </h3>
                <p>Riley is a comedian and writer who lives near Hollywood. She wrote this, but in third person so you'd think it was someone else. Don't be fooled.</p>

                <a href="http://brockwilbur.com/">
                    <img src="static/css/img/brock.jpg" class="img-responsive img-circle" id="brockPic">
                </a>
                <h3>
                    Brock Wilbur
                </h3>
                <p>I live in Los Angeles. I write movies for a living and I perform standup comedy because I have a lot of ideas that feel better when they are shouted.</p>
            </div>
        
        <div class="col-md-6 col-sm-12 col-lg-6 portfolio-item">
            <div class="tardisMenu img-responsive">
              <div class="controlRoom">    
              </div>


              <div class="perspective">


                  <div class="tardis" id="door" onclick="openDoor(this)"> 
                    <div class="thumb">


                    </div>
                  </div>
                    <div id="nav">
                      <nav class="navbar hidden">
                        <ul>
                          <h2>All of Time and Space Awaits</h2>

                            <a class="linkNav linkNavEp" href="http://playingdoctor.podbean.com/" >Episodes</a> <br>
                            <a href="https://www.facebook.com/laughingatarchaeologists/?fref=ts" class="linkNav linkNavFb">Facebook</a><br>
                            <a href="https://www.patreon.com/laughingatarchaeologists?ty=h" class="linkNav linkNavPa">Support Us!</a><br>

                        </ul>
                      </nav>
                    </div>
                <!-- </div> -->
              </div>
            </div> <!--closes tardisMenu -->
        </div>
            
            <div class="col-md-3 col lg-3 col sm-12 portfolio-item">

                <a href="https://twitter.com/timeladyturbles?s=09">
                    <img src="" class="img-responsive" id="turblesPic">
                </a>
                    <h3>
                Turbles
                </h3>
                    <p>Favorite Doctor: 10th? 10th. Favorite Companion: Her Holiness Rose Tyler. Favorite Episode: The Lodger.</p>

                    <img src="static/css/img/laughing_brand.jpg" class="img-responsive img-circle">
            
                <h3>
                    About Us
                </h3>
                <p>We travel through time and space! LA comedians Brock Wilbur, Turbles, and Riley Silverman work through the history of BBC's Doctor Who.</p>
            </div>
        </div>
        <!-- /.row -->




        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12 copyrite">
                    <p>Site by Emily Bee</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->

    

    <!-- Bootstrap Core JavaScript -->
    <script src="/static/libs/bootstrap/js/bootstrap.min.js"></script>

    <script src="/static/js/app.js"></script>

</body>

</html>